* {
    box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #222;
    margin: 0;
    padding: 0;
}

#logo {
	background: #fff;
	padding: 30px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

#bottom {
	background: #fff;
	line-height: 50px;
	color: #222;
	font-weight: bold;
	text-align: center;
}

#logo img {
	width: 25%;
	height: auto;
}


#menu, #bottom {
	text-transform: uppercase;
>>>>>>> 597e983e1464e2edf864ea8418502e5145c882ef
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #e5e5e5;
}

#menu ul, #bottom ul {
	list-style-type: none;
}

#menu li, #bottom li {
	display: inline;
	margin: 10px;
}

#menu form {
    display: inline;
}

a {
	text-decoration: none;
	color: #222;
    transition: all 0.5s;
}

a:hover {
	color: #ef2673;
}
.form-serach {
}
.promotion {
    text-align: center;
    margin-bottom: 1.5em;
    border-top: 1px solid black;
}

.promotion .policy-row {
    display: inline-block;
    border-radius: 10px;
    margin-right: 2em;
}
.promotion .policy-row .policy-col {
    width: 300px;
    height: 80px;
}

.promotion .policy-row #policy-item-1 {
    background-color: #7daef5;
}
.promotion .policy-row #policy-item-2 {
    background-color: #ffeaeb;
}
.promotion .policy-row #policy-item-3 {
    background-color: #7daef5;
}
#event img {
	width: 100%;
	height: auto;
}

#main {
	width:;
}

.tab {	
	margin: 15px;
	margin-bottom: 30px;
	border: 1px solid #e5e5e5;
    text-align: center
}

.tab a {
	color: #36a9f1;
    transition: all 0.5s;
}

.tab a:hover {
	color: #ef2673;
}

.tab h2 {
	width: 30%;
	background: #ffe7f0;
	color: #f24b8a;
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	text-transform: uppercase;
	border: 1px solid #f24b8a;
    margin: 0 auto;
    margin-bottom: 1.6em;
    margin-top: 1.2em;
}

.tab h3 {
	font-size: 18px;
	font-weight: 400;
}

.tab td {
	padding: 10px;
}

.tab img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 5px;
}

#contact {
	clear: left;
}

.contact {
	background: #f8f8f8;
	width: 31.33%;
	float: left;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 40px 1%;
}

.contact h3 {
	text-align: center;
}

img{
    max-width: 100%;
}